<div>

    <br>
    <sl-select id="course-search-result" name="project[courseId]" size="small" clearable>
        <div id="list-courses">
            <% for( let ci=0; ci < courses.length; ci++ ) { %>
                <sl-option size="small" value="<%= courses[ci].id %>">
                    <%= courses[ci].name %>
                </sl-option>
                <%}%>
        </div>
    </sl-select>
</div>