<form action="POST" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-header">Create a new Event</div>
        <div class="modal-content">
            <div>Name</div>
            <input type="text" name="name" id="name">
        </div>
        <div class="is-flex">
            <div>
                <div>
                    Start Date
                </div>
                <input type="datetime" name="startDate" id="startDate">
            </div>
            <div></div>
            <div>
                End Date
            </div>
            <input type="datetime" name="endDate" id="endDate">
        </div>
    </div>


    <div class="modal-footer"><button type="submit">Create</button></div>
</form>