<div id="right-side">

    <form>
        <div class="">
            <div class="">Create a new Event</div>
            <label class="">
                <div>Name</div>
                <input type="text" name="name" id="name">

            </label>
            <div class="is-flex">
                <label>
                    <div>
                        Start Date
                    </div>
                    <input type="datetime" name="startDate" id="startDate">
                </label>
                <label>
                    <div>
                        End Date
                    </div>
                    <input type="datetime" name="endDate" id="endDate">
                </label>
            </div>

        </div>
        <div class="">
            <button class="button is-light is-primary" hx-post="/api/v1/events/"
                hx-replace-url="/api/v1/events/">Create</button>
            <button class="button is-light is-danger" hx-get="/api/v1/events/" hx-target="body">Cancel</button>
        </div>
    </form>
</div>