<section class="column is-one-fifth p-0 has-background-white">
    <aside class="menu box is-shadowless is-radiusless">
        <p class="title block">Project Management System</p>
        <p class="menu-label">Personal</p>
        <ul class="menu-list">
            <li><a>Dashboard</a></li>
            <li><a>Upcoming</a></li>
        </ul>
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li><a href="/api/v1/projects">Projects</a></li>
            <li><a href="/api/v1/users">Users</a></li>

            <li>
                <a class="is-active">Other</a>
                <ul>
                    <li><a>Score Categories</a></li>
                    <li><a>Departments</a></li>
                    <li><a>Courses</a></li>
                </ul>
            </li>
            <li>
                <a>Emails</a>
                <ul>
                    <li><a>Send Email</a></li>
                    <li><a>Templates</a></li>
                    <li><a>Logs</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</section>
