<section class="column is-one-fifth p-0 has-background-white">
    <aside class="menu box is-shadowless is-radiusless">
        <p class="title block">Project Management System</p>
        <p class="menu-label">Personal</p>
        <ul class="menu-list">
            <li><a>Dashboard</a></li>
            <li><a>Upcoming</a></li>
        </ul>
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li><a href="/api/v1/projects">Projects</a></li>
            <li><a href="/api/v1/users">Users</a></li>

            <li>
                <a class="is-active">Other</a>
                <ul>
                    <li>
                        <a href="/api/v1/scoreCategories">Score Categories</a>
                    </li>
                    <li><a href="/api/v1/departments">Departments</a></li>

                    <li><a href="/api/v1/events">Events</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</section>
