<nav class="navbar box is-shadowless level">
    <div class="nav-left level-left">
        <a class="nav-item title is-spaced"> Project Management System </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu level-right">
        <a class="nav-item"> Courses </a>

        <div class="navbar-item has-dropdown">
            <a class="navbar-link"> UserName </a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item"> Switch Profile </a>
                <a class="navbar-item"> Settings </a>
            </div>
        </div>
    </div>
</nav>
