<div id="menu-background" onclick="toggleNav()"></div>
<aside id="side-menu" class="menu mt-3 is-hidden-mobile is-fullheight round-box has-background-info"
        style="min-width: 150px;">
        <div class=" ">
                <ul class="menu-list">
                        <% if (user && (user.profiles[0].role!="PUBLIC" ) ){ %>
                                <li>
                                        <a class="is-radiusless has-background-inherit has-text-dark"
                                                hx-get="/api/v1/users/dashboard" hx-select="#right-side"
                                                hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true"
                                                href="/api/v1/users/dashboard">Dashboard
                                        </a>
                                </li>
                                <% } %>
                                        <li><a class="is-radiusless has-background-inherit has-text-dark"
                                                        hx-get="/api/v1/projects" hx-select="#right-side"
                                                        hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true"
                                                        href="/api/v1/projects">Projects</a>
                                        </li>

                                        <% if (user && (user.profiles[0].role=="PROJECT_MANAGER" ||
                                                user.profiles[0].role=="ADMIN" ) ){ %>
                                                <li><a class="is-radiusless has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/users" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true" href="/api/v1/users">Users</a>
                                                </li>
                                                <!-- </ul> -->
                                                <!-- <p class="menu-label">Other</p> -->
                                                <!-- <sl-divider></sl-divider> -->
                                                <!-- <ul class="menu-list"> -->
                                                <li><a class="is-radiusless has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/score-category" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true" href="/api/v1/score-category">Score
                                                                Categories</a></li>
                                                <li><a class="is-radiusless has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/departments" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true"
                                                                href="/api/v1/departments">Departments</a></li>
                                                <li><a class="is-radiusless has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/events" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true" href="/api/v1/events">Events</a></li>

                                                <% } else { %>
                                                        <% } %>
                </ul>
        </div>
</aside>
<script>
        function toggleNav() {
                let sideMenu = document.getElementById("side-menu");
                let bgndMenu = document.getElementById("menu-background");

                sideMenu.classList.toggle("is-hidden-mobile");
                sideMenu.classList.toggle("sidenav");
                bgndMenu.classList.toggle("background-menu");

        }
        document.querySelectorAll('aside > div > ul > li > a').forEach(a => {
                a.addEventListener('focus', function () {
                        this.classList.remove('has-background-inherit');
                        this.classList.add('has-background-white');
                });

                a.addEventListener('blur', function () {
                        this.classList.remove('has-background-white');
                        this.classList.add('has-background-inherit');

                });

                a.addEventListener('click', function () {
                        if (window.innerWidth < 1024) {
                                toggleNav();
                        }
                });

        });


</script>