<section class="column has-background-primary-light mx-2 box is-shadowless" style="max-width: min-content;">
    <div class="menu has-background-inherit">

        <!-- <div class="p-3"> -->
        <ul class="menu-list">

            <li><a class="has-background-inherit " hx-get="/api/v1/projects" hx-select="#right-side"
                    hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true" href="/api/v1/projects">Projects</a>
            </li>
            <% if (user && (user.profiles[0].role=="PROJECT_MANAGER" || user.profiles[0].role=="ADMIN" ) ){ %>
                <li><a class="has-background-inherit " hx-get="/api/v1/users/dashboard" hx-select="#right-side"
                        hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true"
                        href="/api/v1/users/dashboard">Dashboard</a></li>
                <li><a class="has-background-inherit " hx-get="/api/v1/users" hx-select="#right-side"
                        hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true" href="/api/v1/users">Users</a>
                </li>
        </ul>
        <p class="menu-label">Other</p>
        <ul class="menu-list">
            <li><a class="has-background-inherit " hx-get="/api/v1/score-category" hx-select="#right-side"
                    hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true" href="/api/v1/score-category">Score
                    Categories</a></li>
            <li><a class="has-background-inherit " hx-get="/api/v1/departments" hx-select="#right-side"
                    hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true"
                    href="/api/v1/departments">Departments</a></li>
            <li><a class="has-background-inherit " hx-get="/api/v1/events" hx-select="#right-side"
                    hx-target="#right-side" hx-swap="outerHTML" hx-push-url="true" href="/api/v1/events">Events</a></li>
        </ul>
        <% } else { %>
            </ul>
            <% } %>
                <!-- </div> -->
    </div>
</section>