<section class="column p-0 has-background-white" style="max-width: min-content;">
    <aside class="menu p-4 has-white-background">

        <div class="p-3">

            <p class="menu-label">Personal</p>
            <ul class="menu-list">
                <li><a href="/api/v1/users/dashboard">Dashboard</a></li>

            </ul>
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li><a href="/api/v1/projects">Projects</a></li>

                <% if (user && (user.profiles[0].role=="PROJECT_MANAGER" || user.profiles[0].role=="ADMIN" ) ){ %>
                    <li><a href="/api/v1/users">Users</a></li>
            </ul>
            <p class="menu-label">Other</p>
            <ul class="menu-list">
                <li><a href="/api/v1/score-category">Score Categories</a></li>
                <li><a href="/api/v1/departments">Departments</a></li>
                <li><a href="/api/v1/events">Events</a></li>
            </ul>
            <% } else { %>
                </ul>
                <% } %>
        </div>
    </aside>
</section>