<section class="column is-one-fifth p-0 has-background-white">
    <aside class="menu p-4 has-white-background">
        <div class="is-flex is-flex-wrap-wrap mb-3 pl-2">
            <div class="has-text-weight-bold is-size-4 mr-2">Project</div>
            <div class="has-text-weight-bold is-size-4 mr-2">Management</div>
            <div class="has-text-weight-bold is-size-4 mr-2">System</div>
        </div>
        <div>
            <span class="">
                <input class="input" placeholder="Search..." />
            </span>
        </div>
        <div class="p-3">
            <p class="menu-label">Personal</p>
            <ul class="menu-list">
                <li><a href="/api/v1/users/dashboard">Dashboard</a></li>
                <li><a href="/api/v1/users/:id/profile/:profile_id">My Profile</a></li>
            </ul>
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li><a href="/api/v1/projects">Projects</a></li>
                <li><a href="/api/v1/users">Users</a></li>
            </ul>
            <%# if (profile.role=="PROJECT_MANAGER" || profile.role=="ADMIN" ) { %>
                <p class="menu-label">Other</p>
                <ul class="menu-list">
                    <li><a href="/api/v1/score-category">Score Categories</a></li>
                    <li><a href="/api/v1/departments">Departments</a></li>
                    <li><a href="/api/v1/events">Events</a></li>
                </ul>
                <%# } %>
        </div>
    </aside>
</section>