<div id="menu-background" class="" onclick="toggleNav()"></div>
<aside id="side-menu"
        class="menu column has-background-primary-light p-4 is-hidden-mobile is-narrow-mobile is-fullheight"
        style="max-width: min-content; ">


        <div class=" has-background-inherit">

                <ul class="menu-list">
                        <% if (user && (user.profiles[0].role!="PUBLIC" ) ){ %>
                                <li>
                                        <a class="has-background-inherit has-text-dark" hx-get="/api/v1/users/dashboard"
                                                hx-select="#right-side" hx-target="#right-side" hx-swap="outerHTML"
                                                hx-push-url="true" href="/api/v1/users/dashboard">Dashboard
                                        </a>
                                </li>
                                <% } %>
                                        <li><a class="has-background-inherit has-text-dark" hx-get="/api/v1/projects"
                                                        hx-select="#right-side" hx-target="#right-side"
                                                        hx-swap="outerHTML" hx-push-url="true"
                                                        href="/api/v1/projects">Projects</a>
                                        </li>

                                        <% if (user && (user.profiles[0].role=="PROJECT_MANAGER" ||
                                                user.profiles[0].role=="ADMIN" ) ){ %>
                                                <li><a class="has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/users" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true" href="/api/v1/users">Users</a>
                                                </li>
                                                <!-- </ul> -->
                                                <!-- <p class="menu-label">Other</p> -->
                                                <sl-divider></sl-divider>
                                                <!-- <ul class="menu-list"> -->
                                                <li><a class="has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/score-category" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true" href="/api/v1/score-category">Score
                                                                Categories</a></li>
                                                <li><a class="has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/departments" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true"
                                                                href="/api/v1/departments">Departments</a></li>
                                                <li><a class="has-background-inherit has-text-dark"
                                                                hx-get="/api/v1/events" hx-select="#right-side"
                                                                hx-target="#right-side" hx-swap="outerHTML"
                                                                hx-push-url="true" href="/api/v1/events">Events</a></li>

                                                <% } else { %>
                                                        <% } %>
                </ul>
        </div>
</aside>
<script>
        function toggleNav() {
                let sideMenu = document.getElementById("side-menu");
                let bgndMenu = document.getElementById("menu-background");
                sideMenu.classList.toggle("is-hidden-mobile");
                sideMenu.classList.toggle("sidenav");
                bgndMenu.classList.toggle("background-menu");
        }
        // document.addEventListener('click', function (event) {
        //         if (event.target.tagName === 'A' && window.innerWidth < 1024) {
        //                 toggleNav();
        //         }
        // });
</script>