<nav class="navbar m-0 mb-2 px-2 py-2 has-background-primary-light level">
    <span class="navbar-left  is-size-6 has-text-weight-bold">Project Management System</span>
    <span class="navbar-left">
        <sl-input placeholder="Search..." size="small" clearable>
        </sl-input>

    </span>
    <% if(user){%>
        <%# `${JSON.stringify(user)}` %>
            <sl-dropdown class="navbar-item" distance="15">
                <div slot="trigger" caret>
                    <div class="level">

                        <figure class="image is-24x24 ">
                            <!-- <a hx-target="#right-side" hx-get="<%# `/api/v1/users/profile/${user.profiles[0].id}`%>"
                                hx-swap="outerHTML" hx-push-url="true"
                                href="<%# `/api/v1/users/profile/${user.profiles[0].id}`%>"> -->
                            <img id="profile_img" class="is-rounded" src="<%= `${user.profiles[0].profilePic.url}` %>"
                                alt="Profile Picture">
                            <!-- </a> -->

                        </figure>
                        <!-- <span class="navbar-item is-hoverable"> -->

                        <!-- <span> -->
                        <%= user.profiles[0].userName %>
                            <!-- </span> -->
                            <!-- </span> -->
                    </div>
                </div>
                <sl-menu>
                    <sl-menu-item>
                        <button class="container " hx-target="#right-side"
                            hx-get="<%= `/api/v1/users/profile/${user.profiles[0].id}`%>" hx-swap="outerHTML"
                            hx-push-url="true" href="<%= `/api/v1/users/profile/${user.profiles[0].id}`%>">
                            Profile
                        </button>
                    </sl-menu-item>
                    <sl-menu-item>
                        <button class="container" hx-get="/api/v1/users/profile/choose" hx-target="body"
                            hx-swap="outerHTML">
                            Switch Profile
                        </button>
                    </sl-menu-item>
                    <sl-menu-item>
                        <button class="container" hx-post="/api/v1/users/logout" hx-target="body" hx-swap="outerHTML"
                            hx-push-url="true">Logout</button>
                    </sl-menu-item>
                </sl-menu>
            </sl-dropdown>

            <% } else { %>
                <span class="navbar-right is-size-6 has-text-weight-bold">
                    <button hx-get="/api/v1/users/login" hx-target="body" hx-swap="outerHTML" hx-push-url="true"
                        class="button is-danger is-light is-small">Login</button>
                </span>
                <%}%>


</nav>