<nav class="navbar m-0 mb-2 px-2 py-2 has-background-primary level">
    <span class="navbar-left  is-size-6 has-text-weight-bold">Project Management System</span>
    <span class="navbar-left">
        <input class="input" placeholder="Search..." />
    </span>
    <span class="navbar-right is-size-6 has-text-weight-bold">
        <button class="button is-danger is-light is-small"><a href="/api/v1/users/logout">Logout</a></button>
        <button class="button is-danger is-light is-small"><a href="/api/v1/users/logout">Login</a></button>
    </span>



</nav>