<nav class=" m-0 mb-2 px-2 py-2 has-background-primary-light level" style="height: 2.5rem;">
    <a class="has-text-inherit is-size-7 has-text-weight-bold" hx-get="/api/v1/users/dashboard" hx-target="body"
        hx-trigger="click" href="/api/v1/users/dashboard">Project Management
        System</a>
    <span class="">
        <sl-input class="" placeholder="Search..." size="small" clearable>
        </sl-input>
    </span>
    <% if(user){%>
        <sl-dropdown class="" distance="15">
            <sl-button size="small" variant="text" slot="trigger" caret>
                <div class="level">

                    <figure class="image is-24x24 ">

                        <img id="profile_img" class="is-rounded" src="<%= `${user.profiles[0].profilePic.url}` %>"
                            alt="Profile Picture">

                    </figure>

                    <%= user.profiles[0].userName %>
                </div>
            </sl-button>
            <sl-menu>
                <sl-menu-item>
                    <sl-button size="small" variant="text" class=" " hx-target="#right-side"
                        hx-get="<%= `/api/v1/users/profile/${user.profiles[0].id}`%>" hx-swap="innerHTML"
                        hx-push-url="true">
                        Profile
                    </sl-button>
                </sl-menu-item>
                <sl-menu-item>
                    <sl-button size="small" variant="text" class="" hx-get="/api/v1/users/profile/choose"
                        hx-target="body" hx-push-url="true" hx-swap="outerHTML">
                        Switch Profile
                    </sl-button>
                </sl-menu-item>
                <sl-menu-item>
                    <sl-button size="small" variant="text" class="" hx-post="/api/v1/users/logout" hx-target="body"
                        hx-swap="outerHTML" hx-push-url="true">Logout</sl-button>
                </sl-menu-item>
            </sl-menu>
        </sl-dropdown>

        <% } else { %>
            <span class="navbar-right is-size-6 has-text-weight-bold">
                <sl-button size="small" variant="text" hx-get="/api/v1/users/login" hx-target="body" hx-swap="outerHTML"
                    hx-push-url="true">Login</sl-button>
            </span>
            <%}%>


</nav>