<div>
    <%- profile %>
        <hr>

        <p>No of users in system</p>
        <p>Server status</p>
        <p>Server credentials</p>
        <p>Db status</p>
        <p>Db credentials</p>
        <p>Manage Users</p>

</div>