<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Projects-All</title>
</head>

<body class="has-bakground-white">

    <div class="columns ">
        <%- include ('../layouts/menu.ejs'); %>
            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../layouts/navbar.ejs'); %>

                        <div class="mr-2">

                            <section class="section container has-text-centered">Hello</section>
                        </div>



                </div>


            </section>
    </div>
    <%- include('../layouts/footer.ejs'); %>
</body>

</html>