<div class="level">
    <div class="level-left">
        <!-- <sl-checkbox class="level-item" value="true"
                name="project[attachments][url][<%#index%>][private]">Private</sl-checkbox> -->
        <sl-radio-group class="level-item" label="visibilty" size="small"
            name="project[attachments][url][<%=index%>][visibility]" value="public">
            <sl-radio value="public">Public</sl-radio>
            <sl-radio value="private">Private</sl-radio>
        </sl-radio-group>

        <sl-input size="small" class="level-item" label="name" type="text"
            name="project[attachments][url][<%=index%>][name]" placeholder="e.g. website ðŸŒ"></sl-input>
        <sl-input size="small" class="level-item" label="address" type="url"
            name="project[attachments][url][<%=index%>][address]" placeholder="e.g. https://www.website.com"></sl-input>
    </div>
</div>
<button hx-get="/api/v1/projects/forms/links/<%=index+1%>" hx-target="this" hx-swap="outerHTML"
    class="button is-small is-info is-light">
    Add Link
</button>