.dropdown:focus-within .dropdown-menu {
    display: block;
}

.sidenav {
    height: 100%;
    width: 50%;
    font-size: x-large;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.background-menu{
    position:fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: #111;
    opacity: 80%;
    top: 0;
    left: 0;
}

:root{
    
    --bulma-primary-rgb: 190, 78, 139;
    --bulma-primary-h: 327deg;
    --bulma-primary-s: 46%;
    --bulma-primary-l: 53%;

    --bulma-info-rgb: 200, 217, 152;
    --bulma-info-h: 76deg;
    --bulma-info-s: 46%;
    --bulma-info-l: 72%;

    --bulma-link-rgb: 117, 202, 111;
    --bulma-link-h: 116deg;
    --bulma-link-s: 46%;
    --bulma-link-l: 61%;

    --bulma-text-rgb: 26, 10, 19;
    --bulma-text-h: 143deg;
    --bulma-text-s: 72%;
    --bulma-text-l: 7%

    --bulma-scheme-h: 334deg;
    --bulma-scheme-s: 47%;
    --bulma-light-main-l: 97%;


    --sl-color-primary-50:  var(--sl-color-lime-50);
    --sl-color-primary-100: var(--sl-color-lime-100);
    --sl-color-primary-200: var(--sl-color-lime-200);
    --sl-color-primary-300: var(--sl-color-lime-300);
    --sl-color-primary-400: var(--sl-color-lime-400);
    --sl-color-primary-500: var(--sl-color-lime-500);
    --sl-color-primary-600: var(--sl-color-lime-600);
    --sl-color-primary-700: var(--sl-color-lime-700);
    --sl-color-primary-800: var(--sl-color-lime-800);
    --sl-color-primary-900: var(--sl-color-lime-900);
    --sl-color-primary-950: var(--sl-color-lime-950);
}

#navigation-bar{
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 2.5rem; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#main-box{
    min-height: 90vh;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#outer-box{
    position: relative;
    top: 2.5rem;
}

@media (max-width: 1023px) {
    #brand-name {
        padding-top: 0.25rem;
    }
    #profile-picture{
        padding-top: 0.25rem;
    }
    #navigation-bar{
        height: 2.5rem; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        padding-left: 0.5em;
        padding-right:0.5em;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 2;
    }
    #side-menu{
        padding-top: 2.5em;
    }
  }

  .round-box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 0.5rem;
}

