<div class="section">
    <div class=" card p-4 has-background-white">
        <p>
            <%= profile.profilePic.url %>
        </p>
        <p>
            <%= profile.userName %>
        </p>
        <p>
            <%= profile.role %>
        </p>

    </div>

</div>