<form action="" method="post" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-header">Create a new Department</div>
        <div class="modal-card">
            <span>Name</span><input type="text" name="name" id="name">
            <div class="box">
                <button type="button">Add Existing Courses</button>
            </div>
        </div>
    </div>
    <div class="modal-footer"><button type="submit">Create</button></div>
</form>