<form class="" style="max-width: fit-content;">
    <div class="container">
        <div class="title is-6">Create a new Department</div>
        <div class="">

            <sl-input size="small" type="text" name="name" id="name" label="Name" placeholder="e.g. CSE"
                required></sl-input>
            <!-- <br> -->
            <!-- <div class="">
                <button class="button is-light is-small is-info" hx-get="/api/v1/departments/courses/new"
                    hx-target="this" hx-swap="beforebegin">Add
                    a new Course ?</button>
            </div> -->
        </div>
        <br>
        <div class="buttons are-small">
            <button class="button is-primary is-light" hx-post="/api/v1/departments/" hx-target="body">Create</button>
            <button class="button is-danger is-light" hx-get="/api/v1/departments/" hx-target="body">Cancel</button>
        </div>
    </div>
</form>