<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../layouts/header.ejs'); %>
        <title>Projects</title>
</head>

<body class="has-background-white">

    <div class="columns ">
        <%- include ('../layouts/menu.ejs', user?user:undefined); %>

            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../layouts/navbar.ejs'); %>

                        <div class="mr-2">
                            <section class="section " id="projects-body">
                                <div class="container">
                                    <div class="" id="create-project">
                                        <form action="/api/v1/projects" method="POST">

                                            <div class="content ">
                                                <div class="">

                                                    <section class="">
                                                        <div class="field">
                                                            <label class="label">Project Name</label>
                                                            <div class="control">
                                                                <input class="input" type="text"
                                                                    placeholder="Project Name" required>
                                                            </div>
                                                            <label class="label">Team size</label>
                                                            <div class="control">
                                                                <input class="input" type="number"
                                                                    placeholder="Team Size">
                                                            </div>
                                                            <label class="label">Projects links(optional)</label>
                                                            <div class="control">
                                                                <input class="input" type="url" placeholder="Links">
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="label">Description</label>
                                                            <div class="control">
                                                                <textarea class="textarea"
                                                                    placeholder="Description"></textarea>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <footer class=" level">
                                                        <span>Project Details &gt Add to Event &gt Add to Course &gt Add
                                                            Reviewers >
                                                            Confirm</span>
                                                        <button class="level-item button is-shadowless is-small">
                                                            &lt; Previous</button>
                                                        <button class="level-item button is-info is-small">Next &gt;
                                                        </button>
                                                        <button
                                                            class="level-item button is-danger is-light is-small">Cancel</button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>

                        </div>

                </div>

            </section>
    </div>

    <%- include('../layouts/footer.ejs'); %>
</body>

</html>