<section class="p-4" id="projects-body">
    <div class="container">
        <div class="" id="create-project">
            <form>


                <div class="field">

                    <sl-input type="text" name="project[name]" label="Project Name" placeholder="e.g. Project-1"
                        required></sl-input>
                    <sl-input type="number" name="project[teamSize]" label="Team Size" placeholder="e.g. 5"
                        required></sl-input>
                    <br>

                    <fieldset>

                        <legend>Links</legend>
                        <div>
                            <button hx-get="/api/v1/projects/forms/links/0" hx-target="this" hx-swap="outerHTML"
                                class="button is-small is-info is-light">
                                Add Link
                            </button>
                        </div>
                    </fieldset>

                    <br>
                    <sl-textarea label="Description" name="project[description]" rows="5" resize="auto"></sl-textarea>
                    <sl-divider></sl-divider>

                    <fieldset>
                        <legend>Attach to Course</legend>
                        <div hx-get="/api/v1/departments/courses/search" hx-trigger="intersect once"
                            hx-swap="outerHTML">
                            Select Course
                        </div>
                    </fieldset>

                    <sl-divider></sl-divider>
                    <fieldset>
                        <legend>Attach to Event</legend>
                        <div hx-get="/api/v1/events/search" hx-trigger="intersect once" hx-swap="outerHTML">
                            Select Event
                        </div>
                    </fieldset>

                    <sl-divider></sl-divider>
                    <div class="buttons are-small">
                        <button class="button is-primary is-light" hx-post="/api/v1/projects/"
                            hx-replace-url="/api/v1/projects/" hx-target="body">
                            Create
                        </button>
                        <button class="button is-danger is-light" hx-get="/api/v1/projects/" hx-target="body">
                            Cancel
                        </button>
                    </div>
                </div>



            </form>
        </div>
    </div>
</section>