<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Projects-All</title>
</head>

<body class="has-bakground-white">

    <div class="columns ">
        <%- include ('../partials/layouts/menu.ejs'); %>
            <section class="is-medium column p-0 ">
                <div class="container content my-3">
                    <%- include ('../partials/layouts/navbar.ejs'); %>

                        <%- include ('../partials/details/event.ejs'); %>



                </div>

    </div>

    </section>
    </div>
    <%- include('../partials/layouts/footer.ejs'); %>
</body>

</html>