<table class="table is-narrow is-striped  container">
    <caption>Only for Demo Purposes</caption>
    <thead>
        <td>Email</td>
        <td>Password</td>
    </thead>
    <tbody>
        <% for( let ui=0; ui < users.length; ui ++ ) { %>
            <tr>
                <td>
                    <%= users[ui].email %>
                </td>
                <td>
                    root
                </td>
            </tr>
            <% } %>
    </tbody>
</table>