<table class="table is-narrow is-striped  container">
    <caption>Only for Demo Purposes</caption>
    <thead>
        <!-- <td></td> -->
        <td class="has-text-centered">Email</td>
        <td class="has-text-centered">Password</td>
    </thead>
    <tbody>
        <% for( let ui=0; ui < users.length; ui ++ ) { %>
            <tr>
                <td>
                    <div>
                        <sl-copy-button from="user-email-<%=ui%>[data-email]"></sl-copy-button>
                        <span id="user-email-<%=ui%>" data-email="<%=users[ui].email%>">
                            <%= users[ui].email %>
                        </span>
                    </div>
                </td>
                <td>
                    root
                </td>
            </tr>
            <% } %>
    </tbody>
</table>