<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../layouts/header.ejs'); %>

        <title>Choose Profile</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <%- include('../../partials2/modals/profile-chooser.ejs'); %>
        </div>
    </section>
</body>

</html>