<section class="column is-one-fifth p-0 has-background-white">
    <aside class="menu box is-shadowless is-radiusless">
        <div class="grid mb-3 pl-2 is-gap-0">
            <div class="cell has-text-weight-bold is-size-4">Project</div>
            <div class="cell has-text-weight-bold is-size-4">Management</div>
            <div class="cell has-text-weight-bold is-size-4">System</div>
        </div>
        <div>
            <span class="">
                <input class="input" placeholder="Search..." />
            </span>
        </div>
        <div class="p-3">
            <p class="menu-label">Personal</p>
            <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li>
                    <a href="/api/v1/users/:id/profile/:profile_id"
                        >My Profile</a
                    >
                </li>
            </ul>
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li><a href="/api/v1/projects">Projects</a></li>
                <li><a href="/api/v1/users">Users</a></li>

                <li>
                    <a class="is-active has-background-primary-dark">Other</a>
                    <ul>
                        <li>
                            <a href="/api/v1/score-category"
                                >Score Categories</a
                            >
                        </li>
                        <li><a href="/api/v1/departments">Departments</a></li>

                        <li><a href="/api/v1/events">Events</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
</section>
